.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
*.egg-info/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/state_of_the_union.txt
notebooks/chroma_logs.log
notebooks/.chroma/
notebooks/local_notebooks/
notebooks/.env
pages/research/local_research/
.DS_Store
.vscode
agent.toml
content_suggestions/
.claude/
.qodo/

# app
.next
node_modules
prompts